
.container-password {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}
.inner-container-pass {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-pass {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}
.label-text-pass {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    color: #666666;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-pass {
    width: 90%;
    height: 40px;
    margin-top: 5px;
    padding: 0 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    background-color: #f9f9f9;
}
.btn-pass {
    width: 100%;
    height: 45px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #43b4c8;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-pass:hover {
    background-color: #338b9b;
}
